{{ define "main" }}
<main aria-role="main">
  <header class="post__header">
    <h1 class="post__title">{{.Title}}</h1>
    {{ with .Params.subtitle }}

    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="content post__content clearfix">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <!-- <div>
    {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary"}}
    {{ end }}
  </div> -->
</main>
{{ end }}